image: registry.gitlab.com/pages/hugo/hugo_extended:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build
  - deploy

build:
  stage: build
  script:
    # Optional: show Hugo version for debugging
    - hugo version
    # Build the site into public/ using the GitLab Pages URL
    - hugo --minify --baseURL "${CI_PAGES_URL}"
  artifacts:
    paths:
      - public
  only:
    - main

pages:
  stage: deploy
  script:
    - echo "Deploying to GitLab Pages from public/"
  artifacts:
    paths:
      - public
  needs:
    - build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
