baseURL = "https://bmhash.github.io/drafts/"
languageCode = "en-us"
title = "Brain Drafts"
theme = "PaperMod"

[pagination]
pagerSize = 10

[params]
  env = "production"
  title = "Brain Drafts"
  description = "In depth wandering through reality"
  keywords = ["blog", "drafts", "deep work", "philosophy"]
  author = "bmhash"
  
  defaultTheme = "auto"
  disableThemeToggle = false
  
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowWordCount = true
  ShowRssButtonInSectionTermList = true
  UseHugoToc = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  comments = false
  hidemeta = false
  hideSummary = false
  showtoc = false
  tocopen = false

  [params.assets]
    favicon = ""
    favicon16x16 = ""
    favicon32x32 = ""
    apple_touch_icon = ""
    safari_pinned_tab = ""

  [params.label]
    text = "Brain Drafts"
    icon = ""
    iconHeight = 35

  [params.profileMode]
    enabled = false

  [params.homeInfoParams]
    Title = "Welcome to Brain Drafts"
    Content = "In depth wandering through reality"

  [[params.socialIcons]]
    name = "github"
    url = "https://github.com/bmhash"

[menu]
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 20
  [[menu.main]]
    identifier = "search"
    name = "Search"
    url = "/search/"
    weight = 30
